#page {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}


#hoop {
    height: 350px;
    margin-left: -150px;
}

#hoop img {
    height: 300px;
    margin-top: 40px;
}

.axes text {
    color: red
}
