#page {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#viz {
    width: 600px;
    height: 400px;
}

#hoop {
    height: 400px;
    margin-left: -35px;
}

#hoop img {
    height: 100%
}
