#page {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#viz {
    width: 600px;
    height: 300px;
}

#hoop {
    height: 300px;
    margin-left: -45px;
}

#hoop img {
    height: 280px;
    margin-bottom: 20px;
}

.axes text {
    color: red
}
